<div class="callout">
	<a href="/">Back to all posts</a>
</div>
<h2 name="title">{{title}}</h2>
<div name="content">{{content}}</div>
{{#each comments}}
	<div>
		<p>{{firstName}} {{lastName}}</p>
		<p>{{email}}</p>
		<div>{{comment}}</div>
	</div>
{{/each}}
